body {
  background: #0f172a;
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
}

.btn {
  --body-bg: #0f172a;
  --btn-gradient: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  --btn-txt-color: #ffffff;
  position: relative;
  border: none;
  outline: none;
  display: block;
}

.btn-animation {
  border-radius: 5px;
}

.btn-animation:hover {
  cursor: pointer;
}

.btn-animation span {
  display: block;
}

.btn-animation span:nth-child(1) {
  padding: 2rem 6.5rem;
  background-image: var(--btn-gradient);
  border-radius: 5px;
}

.btn-animation span:nth-child(2),
.btn-animation span:nth-child(3),
.btn-animation span:nth-child(4) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-animation span:nth-child(4) {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--btn-gradient);
  color: var(--btn-txt-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  border-radius: 1px;
}

.btn-animation:hover span:nth-child(4) {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.btn-animation span:nth-child(3) {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: var(--body-bg);
  border-radius: 4px;
}

.btn-animation span:nth-child(2) {
  height: 60%;
  width: 100%;
  background-color: var(--body-bg);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}
