@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
:root {
  --primary: #08aeea;
  --secondary: #13d2b8;
  --purple: #bd93f9;
  --pink: #ff6bcb;
  --blue: #8be9fd;
  --gray: #333;
  --font: "Poppins", sans-serif;
  --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
  --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-size: 1.4rem;
  overflow-x: hidden;
  font-weight: 300;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: var(--font);
  font-size: 1.4rem;
  font-weight: 300;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

.tabs7 {
  display: flex;
  background-color: #eee;
  border-radius: 8px;
  padding: 5px;
}
.tabs7 .tab-item.active {
  color: #6a5af9;
  background-color: white;
}
.tabs7 .tab-item {
  white-space: nowrap;
  padding: 10px 15px;
  cursor: pointer;
  color: #999;
  font-weight: 500;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}
